<footer class="color-bg-white">
  <section class="font-yahei max-width-960px align-center margin-tb-1">
    <div class="container">
      <div class="col-sm-7">
        <div class="padding-lr-2">
          <img class="margin-tb-1" src="<%= require('images/img/handson-logo.png') %>" width="200em" >
          <p class="footerintro" data-i18n="common:footer.about.line1">展翼计划由一群热心的志愿者发起，是一个开源的志愿者网络。</p>
          <p class="footerintro" data-i18n="common:footer.about.line2">希望用经济简易的3D打印机械义肢帮助国内的手部残障儿童。</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="margin-tb-2 padding-lr-2">
          <h4 class="contactus" data-i18n="common:footer.contact.title">联络我们:</h4>
          <p class="contact">
            <span data-i18n="common:footer.contact.email">邮箱: </span>
            techforgood.china@gmail.com
          </p>
          <p class="contact">
            <span data-i18n="common:footer.contact.wechat">微信: </span>
            wow3dhand
          </p>
          <div style="display:inline" class="margin-lr-h">
            <img src="<%= require('images/img/wechat-green.png') %>" width="30em" >
          </div>
          <div style="display:inline" class="margin-lr-h">
            <img src="<%= require('images/img/mail_grande.png') %>" width="30em" >
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <img class="margin-tb-1 img-responsive" src="<%= require('images/qr.webp') %>" >
      </div>
    </div>
  </section>
</footer>