.storybox {
  display: flex;

  &__img {
    position: relative;
    width: 42%;
    overflow: hidden;

    > img {
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
    }
  }

  &__bd {
    flex: 1;
  }
}