<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <title>Handson - 参与</title>
  <%- include src/pages/common/meta.html -%>
  <%- include src/pages/common/styles.html -%>
</head>
<body>
  <header class="color-bg-lightgrey margin-t-5i">
    <section class="font-yahei max-width-960px align-center">
      <div class="container">
        <div class="row">
          <div id="logo" class="col-sm-3 text-center">
            <img class="margin-tb-1" src="<%= require('images/img/handson-logo.png') %>" width="150em">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </div>
          <div id="menu" class="col-sm-9 ">
            <ul class="nav nav-pills nav-justified margin-tb-1">
              <li><a href="index.html">首页</a></li>
              <li><a href="application.html" class="activem">申请义肢</a></li>
              <li><a href="join.html">我想帮助</a></li>
              <li><a href="about.html">关于</a></li>
            </ul>
          </div>
        </div>
        <div class="row color-bg-media1">
          <div class="align-center padding-tb-10 padding-lr-dnm20x3">
            <div class="border-white-1-tran-20 padding-lr-2 text-center color-ct-white bannertext">
              <h3 class="font-xs bannertext1">协助我们寻找需要帮助的小孩，还他们</h3>
              <h1 class="font-medium bannertext3">一双翅膀</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
  </header>

  <section class="color-bg-lightgrey">
    <div class="container">
      <iframe width="100%"
        frameborder="0"
        id="goldendata_form_vAzl4E"
        class="margin-t-2"
        allowTransparency="true"
        height="2466"
        src="https://jinshuju.net/f/vAzl4E?background=white&banner=show&embedded=true"
      >
      </iframe>
    </div>
  </section>

  <%- include src/pages/common/footer.html -%>
  <%- include src/pages/common/scripts.html -%>
</body>
</html>
