<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <title>Handson - 参与</title>

  <%- include src/pages/common/meta.html -%>
  <%- include src/pages/common/styles.html -%>
  
  <script src="js/webservice.js"></script>
</head>
<body>

  <header class="color-bg-lightgrey margin-t-5i">
    <section class="font-yahei max-width-960px align-center">
      <div class="container">
        <div class="row">
          <div id="logo" class="col-sm-3 text-center">
            <img class="margin-tb-1" src="<%= require('images/img/handson-logo.png') %>" width="150em">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </div>
          <div id="menu" class="col-sm-9 ">
            <ul class="nav nav-pills nav-justified margin-tb-1">
              <li><a href="index.html">首页</a></li>
              <li><a href="application.html">申请义肢</a></li>
              <li><a href="join.html" class="activem">我想帮助</a></li>
              <li><a href="about.html">关于</a></li>
            </ul>
          </div>
        </div>
        <div class="row color-bg-media4">
          <div class="align-center padding-tb-10 padding-lr-dnm20x3 ">
            <div class="border-white-1-tran-20 padding-lr-3 text-center color-ct-white bannertext">
              <H1 class="font-medium bannertext3">加入我们</H1>
              <p class="font-xs bannertext1">成为志愿者网络的一份子，用简单的设计，帮助大部份人。</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </header>
  <!-- /header: includes logo and menu -->

  <!-- designer questionaire section -->
  <section class="color-bg-lightgrey">
    <div class="container">
      <iframe class="margin-t-2"
        id="goldendata_form_4wW6YZ"
        src="https://jinshuju.net/f/4wW6YZ?background=white&banner=show&embedded=true"
        width="100%"
        frameborder=0
        allowTransparency="true"
        height="1119"
      >
      </iframe>
    </div>
  </section>
  <!-- /designer questionaire section -->

  <%- include src/pages/common/footer.html -%>
  <%- include src/pages/common/scripts.html -%>
</body>
</html>
