/**
 * Padding-top is required if using .navbar-fixed-top.
 * This can be removed Remove if using .navbar-static-top.
 * The height may need to be changed if the height of you
 * navigation changes.
*/
body { padding-top: 70px; }

/**
 * Bootstrap requires a containing element to wrap site contents 
 * and house the grid system. You may choose one of two containers.
 * Use .container for a responsive fixed width container.
 * Use .container-fluid for a full width container.

 * If using container-fluid, you may need to set a maximum width, 
 * so that the container will not spread to the entire viewport.
*/
.container-fluid { max-width: 1200px; }

/**
 * We can add some "helper classes" to add or remove margins to
 * help aspects of the layout. These helper classes should only
 * be used sparingly.
*/
.padding-l-h {padding-left: 0.5em;}
.padding-l-1 {padding-left: 1em;}
.padding-l-2 {padding-left: 2em;}
.padding-l-3 {padding-left: 3em;}
.padding-l-4 {padding-left: 4em;}
.padding-l-5 {padding-left: 5em;}

.padding-r-h {padding-right: 0.5em;}
.padding-r-1 {padding-right: 1em;}
.padding-r-2 {padding-right: 2em;}
.padding-r-3 {padding-right: 3em;}
.padding-r-4 {padding-right: 4em;}
.padding-r-5 {padding-right: 5em;}

.padding-lr-h {padding-left: 0.5em; padding-right: 0.5em;}
.padding-lr-1 {padding-left: 1em; padding-right: 1em;}
.padding-lr-2 {padding-left: 2em; padding-right: 2em;}
.padding-lr-3 {padding-left: 3em; padding-right: 3em;}
.padding-lr-4 {padding-left: 4em; padding-right: 4em;}
.padding-lr-5 {padding-left: 5em; padding-right: 5em;}

.padding-t-h {padding-top: 0.5em;}
.padding-t-1 {padding-top: 1em;}
.padding-t-2 {padding-top: 2em;}
.padding-t-3 {padding-top: 3em;}
.padding-t-4 {padding-top: 4em;}
.padding-t-5 {padding-top: 5em;}
.padding-t-6 {padding-top: 6em;}
.padding-t-7 {padding-top: 7em;}
.padding-t-8 {padding-top: 8em;}
.padding-t-9 {padding-top: 9em;}
.padding-t-10 {padding-top: 10em;}

.padding-b-h {padding-bottom: 0.5em;}
.padding-b-1 {padding-bottom: 1em;}
.padding-b-2 {padding-bottom: 2em;}
.padding-b-3 {padding-bottom: 3em;}
.padding-b-4 {padding-bottom: 4em;}
.padding-b-5 {padding-bottom: 5em;}

.padding-tb-h {padding-top: 0.5em; padding-bottom: 0.5em;}
.padding-tb-1 {padding-top: 1em; padding-bottom: 1em;}
.padding-tb-2 {padding-top: 2em; padding-bottom: 2em;}
.padding-tb-3 {padding-top: 3em; padding-bottom: 3em;}
.padding-tb-4 {padding-top: 4em; padding-bottom: 4em;}
.padding-tb-5 {padding-top: 5em; padding-bottom: 5em;}
.padding-tb-10 {padding-top: 10em; padding-bottom: 10em;}

.margin-birdie-up-1 { margin-top: -1.1em; }
.margin-birdie-up-2 { margin-top: -1.65em; }
.margin-birdie-up-3 { margin-top: -2.2em; }
.margin-birdie-down-1 { margin-bottom: -1.1em; }
.margin-birdie-down-2 { margin-bottom: -1.65em; }
.margin-birdie-down-3 { margin-bottom: -2.2em; }

.margin-t-hi { margin-top: -0.5em; }
.margin-t-1i { margin-top: -1em; }
.margin-t-2i { margin-top: -2em; }
.margin-t-3i { margin-top: -3em; }
.margin-t-4i { margin-top: -4em; }
.margin-t-5i { margin-top: -5em; }

.margin-t-0 { margin-top: 0; }
.margin-t-h { margin-top: .5em; }
.margin-t-1 { margin-top: 1em; }
.margin-t-2 { margin-top: 2em; }
.margin-t-3 { margin-top: 3em; }
.margin-t-4 { margin-top: 4em; }
.margin-t-5 { margin-top: 5em; }

.margin-b-hi { margin-bottom: -0.5em; }
.margin-b-1i { margin-bottom: -1em; }
.margin-b-2i { margin-bottom: -2em; }
.margin-b-3i { margin-bottom: -3em; }
.margin-b-4i { margin-bottom: -4em; }
.margin-b-5i { margin-bottom: -5em; }

.margin-b-0 { margin-bottom: 0; }
.margin-b-h { margin-bottom: .5em; }
.margin-b-1 { margin-bottom: 1em; }
.margin-b-2 { margin-bottom: 2em; }
.margin-b-3 { margin-bottom: 3em; }
.margin-b-4 { margin-bottom: 4em; }
.margin-b-5 { margin-bottom: 5em; }

.margin-l-hi { margin-left: -0.5em; }
.margin-l-1i { margin-left: -1em; }
.margin-l-2i { margin-left: -2em; }
.margin-l-3i { margin-left: -3em; }
.margin-l-4i { margin-left: -4em; }
.margin-l-5i { margin-left: -5em; } 


.margin-l-0 { margin-left: 0; }
.margin-l-h { margin-left: .5em; }
.margin-l-1 { margin-left: 1em; }
.margin-l-2 { margin-left: 2em; }
.margin-l-3 { margin-left: 3em; }
.margin-l-4 { margin-left: 4em; }
.margin-l-5 { margin-left: 5em; } 

.margin-r-hi { margin-right: -0.5em; }
.margin-r-1i { margin-right: -1em; }
.margin-r-2i { margin-right: -2em; }
.margin-r-3i { margin-right: -3em; }
.margin-r-4i { margin-right: -4em; }
.margin-r-5i { margin-right: -5em; }

.margin-r-0 { margin-right: 0; }
.margin-r-h { margin-right: .5em; }
.margin-r-1 { margin-right: 1em; }
.margin-r-2 { margin-right: 2em; }
.margin-r-3 { margin-right: 3em; }
.margin-r-4 { margin-right: 4em; }
.margin-r-5 { margin-right: 5em; }

.margin-tb-0 {	margin-top: 0;	margin-bottom: 0;}
.margin-tb-h {	margin-top: .5em;	margin-bottom: .5em;}
.margin-tb-1 {	margin-top: 1em;	margin-bottom: 1em;}
.margin-tb-2 {	margin-top: 2em;	margin-bottom: 2em;}
.margin-tb-3 {	margin-top: 3em;	margin-bottom: 3em;}
.margin-tb-4 {	margin-top: 4em;	margin-bottom: 4em;}
.margin-tb-5 {	margin-top: 5em;	margin-bottom: 5em;}

.margin-lr-0 {	margin-left: 0;	margin-right: 0;}
.margin-lr-h {	margin-left: .5em;	margin-right: .5em;}
.margin-lr-1 {	margin-left: 1em;	margin-right: 1em;}
.margin-lr-2 {	margin-left: 2em;	margin-right: 2em;}
.margin-lr-3 {	margin-left: 3em;	margin-right: 3em;}
.margin-lr-4 {	margin-left: 4em;	margin-right: 4em;}
.margin-lr-5 {	margin-left: 5em;	margin-right: 5em;}

.icon-char {    font-size: 5px;}
.icon-tiny {    font-size: 20px;}
.icon-xxs {    font-size: 25px;}
.icon-xs {    font-size: 30px;}
.icon-small {    font-size: 50px;}
.icon-medium {    font-size: 100px;}
.icon-grande {    font-size: 200px;}

.color-bg-lightgreen {	/*GREEN:light-green*/	background-color: #AFEAAA;}
.color-bg-green {	/*GREEN:medium-green*/	background-color: #87E293;}
.color-bg-deepgreen {	/*GREEN:deep-green*/	background-color: #41924B;}
.color-bg-lightblue {	/*BLUE:light-blue*/	background-color: #6BCAE2;}
.color-bg-blue {	/*BLUE:deep-blue*/	background-color: #51A5BA;}
.color-bg-lightorange {	/*ORANGE:light-orange*/	background-color: #FE8402;}
.color-bg-white {	background-color: white;}
.color-bg-white-tran-10 { background-color: rgba(255,255,255,.90);}
.color-bg-grey {	background-color: grey;}
.color-bg-lightgrey {	background-color: #EEEEEE;}
.color-bg-silver {	background-color: silver;}
.color-bg-orange {	background-color: #ff9100;}
.color-bg-purple {	background-color: #A481DB;}
.color-bg-limegreen {	background-color: LimeGreen;}
.color-bg-orangered {	background-color: orangered;}
.color-bg-cadetblue {	background-color: cadetblue;}
.color-bg-darkslategrey {	background-color: DarkSlateGrey;}
.color-bg-bluepurple {	background-color: #8855BB;}

/* the 3 para of line-gradient means: turn x degree from 12 o'clock clockwise, bottom color, top color*/ 
.color-bg-gradient-blue {background: linear-gradient(50deg, #6BB9D1, #7CDBF3);}
.color-bg-gradient-orange{background:linear-gradient(50deg, #EE8422, #FFB857);}

.color-ct-lightgreen {	/*GREEN:light-green*/	color: #AFEAAA;}
.color-ct-green {	/*GREEN:medium-green*/	color: #87E293;}
.color-ct-deepgreen {	/*GREEN:deep-green*/	color: #41924B;}
.color-ct-lightblue {	/*BLUE:light-blue*/	color: #6BCAE2;}
.color-ct-blue{	/*BLUE:deep-blue*/	color: #51A5BA;}
.color-ct-lightorange {	/*ORANGE:light-orange*/	color: #FE8402;}
.color-ct-grey {	color: grey;}
.color-ct-orangered {	color: orangered;}
.color-ct-cadetblue {	color: CadetBlue;}
.color-ct-silver {	color: silver;}
.color-ct-darkgrey {	color: darkgrey;}
.color-ct-limegreen {	color: LimeGreen;}
.color-ct-white {	color: #FFFFFF;}
.color-ct-darkslategrey {	color: darkslategrey;}
.color-ct-bluepurple {	color: #8855BB;}

.font-huge{	font-size:10em;}
.font-grande{	font-size:8em;}
.font-medium{	font-size:3em;}
.font-small{	font-size:2em;}
.font-xs{	font-size:1.5em;}
.font-xxs{	font-size:1em;}
.font-tiny{	font-size:0.75em;}
.font-bold{ font-weight: bold;}
.font-italic{ font-style: italic;}
.font-lobster{	font-family: 'Lobster', cursive;}
.font-yahei{ font-family: 'Microsoft JhengHei', 'SimHei', 'MingLiU';}
.font-kaiti { font-family: 'KaiTi';}

/* Box shadow definition */
/* The 5 para means: hori-offset, verti-offset, bluring, size, color */
.shadow-1-blue{    box-shadow: 0.2em 0.2em 0.3em -0.1em lightblue;}
.shadow-2-blue{    box-shadow: 0.4em 0.4em 0.6em -0.1em lightblue;}
.shadow-3-blue{    box-shadow: 0.6em 0.6em 0.6em 0em lightblue;}
.shadow-1-orange{    box-shadow: 0.2em 0.2em 0.3em -0.1em orange;}
.shadow-2-orange{    box-shadow: 0.4em 0.4em 0.6em -0.1em orange;}
.shadow-3-orange{    box-shadow: 0.6em 0.6em 0.6em 0em orange;}
.shadow-1-grey{box-shadow: 0.2em 0.2em 0.3em -0.1em grey;}
.shadow-2-grey{box-shadow: 0.4em 0.4em 0.6em -0.1em grey;}
.shadow-3-grey{box-shadow: 0.6em 0.6em 0.6em 0em grey;}

/* Text shadow definition */
.tshadow-1-grey{text-shadow: 0.1em 0.1em 0.1em grey;}
.tshadow-2-grey{text-shadow: 0.1em 0.1em 0.2em black;}
.tshadow-3-grey{text-shadow: 0.1em 0.1em 0.3em grey;}

/* Bottom line of panel or box */
.bottom-line-orange-1{	border-bottom: 0.3em solid #FE8402; }
.bottom-line-orange-2{	border-bottom: 0.5em solid #FE8402; }
.bottom-line-orange-3{	border-bottom: 0.7em solid #FE8402; }
.bottom-line-blue-h{	border-bottom: 0.1em solid #49CAC1; }
.bottom-line-blue-1{	border-bottom: 0.3em solid #49CAC1; }
.bottom-line-blue-2{	border-bottom: 0.5em solid #49CAC1; }
.bottom-line-blue-3{	border-bottom: 0.7em solid #49CAC1; }
.bottom-line-white-1{	border-bottom: 0.3em solid #FFFFFF; }
.bottom-line-white-2{	border-bottom: 0.5em solid #FFFFFF; }
.bottom-line-white-3{	border-bottom: 0.7em solid #FFFFFF; }

.top-line-white-1{	border-top: 0.3em solid #FFFFFF; }
.top-line-white-2{	border-top: 0.5em solid #FFFFFF; }
.top-line-white-3{	border-top: 0.7em solid #FFFFFF; }

.left-line-white-1{	border-left: 0.3em solid #FFFFFF; }
.left-line-white-2{	border-left: 0.5em solid #FFFFFF; }
.left-line-white-3{	border-left: 0.7em solid #FFFFFF; }

.right-line-white-1{	border-right: 0.3em solid #FFFFFF; }
.right-line-white-2{	border-right: 0.5em solid #FFFFFF; }
.right-line-white-3{	border-right: 0.7em solid #FFFFFF; }

/* Border round radius */
.border-radius-1 {border-radius:0.1em;}
.border-radius-2 {border-radius:0.5em;}
.border-radius-3 {border-radius:1em;}
.border-radius-4 {border-radius:1.5em;}
.border-radius-5 {border-radius:2em;}
.border-top-radius {border-top-left-radius:2em; border-top-right-radius:2em;}

.border-white-1{	border: 0.3em solid #FFFFFF; }
.border-white-2{	border: 0.5em solid #FFFFFF; }
.border-white-3{	border: 0.7em solid #FFFFFF; }

.border-lightgrey-1{	border: 0.3em solid #EEEEEE; }
.border-lightgrey-2{	border: 0.5em solid #EEEEEE; }
.border-lightgrey-3{	border: 0.7em solid #EEEEEE; }

.border-white-1-tran-10{	border: 0.3em solid rgba(255,255,255,.90); }
.border-white-2-tran-10{	border: 0.5em solid rgba(255,255,255,.90); }
.border-white-3-tran-10{	border: 0.7em solid rgba(255,255,255,.90); }

.border-white-1-tran-20{	border: 0.3em solid rgba(255,255,255,.80); }
.border-white-2-tran-20{	border: 0.5em solid rgba(255,255,255,.80); }
.border-white-3-tran-20{	border: 0.7em solid rgba(255,255,255,.80); }

.border-color-blue {border-color:#51A5BA;}
.border-color-white {border-color:#FFFFFF;}

/* Bootstrap source code referece: .nav-pills
.nav-pills>li{float:left}
.nav-pills>li>a{border-radius:4px}
.nav-pills>li+li{margin-left:2px}
.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover{color:#fff;background-color:#337ab7}
.list-group-item.active>.badge,.nav-pills>.active>a>.badge{color:#337ab7;background-color:#fff}
.nav-pills>li>a>.badge{margin-left:3px}
*/
.nav-pills>li>a{
	color:#51A5BA;
	background-color:rgba(0,0,0,0);
	padding-left: .5em;
	padding-right: .5em;
}
.nav-pills>li>a:focus{
	color:#6BCAE2;
	background-color:rgba(0,0,0,0);
	border-radius:5em;
}
.nav-pills>li>a:hover{
	color:#6BCAE2;
	background-color:rgba(0,0,0,0);
	border-radius:5em;
}
.nav-pills>li.active>a{
	color:#6BCAE2;
	background-color:rgba(0,0,0,0);
	border-radius:5em;
}
.nav-pills>li.active>a:focus{
	color:#6BCAE2;
	background-color:rgba(0,0,0,0);
	border-radius:5em;
}
.nav-pills>li.active>a:hover{
	color:#6BCAE2;
	background-color:rgba(0,0,0,0);
	border-radius:5em;
}

/* Override pagination from square to circle */
.pagination>li>a{
	border:0;
	color:#BBBBBB;
	margin-left: .5em;
	margin-right: .5em;
	border-radius:5em;
}
.pagination>li>a:hover{
	border:0;
	color:#fff;
	background-color:#FE8402;
	border-radius:5em;
}
.pagination>.active>a{
	border:0;
	color:#fff;
	background-color:#4444FF;
	border-radius:5em;
}
.pagination>.active>a:hover{
	border:0;
	color:#fff;
	background-color:#4444FF;
	border-radius:5em;
}

/* Override pager from square to circle */
.pager>li>a{
	border:0;
	color:#BBBBBB;
	margin-left: .5em;
	margin-right: .5em;
	border-radius:5em;
}
.pager>li>a:hover{
	border:0;
	color:#ffffff;
	background-color:#FE8402;
	border-radius:5em;
}

/* Override well */
.well {border-radius:1em; box-shadow: 0.2em 0.2em 0.3em -0.1em grey;}

/* Override container and row, deactivate the default margin/padding */
.container {padding-left:0;padding-right:0;margin-left:0;margin-right:0;width:100%;}
.row {padding-left:0;padding-right:0;margin-left:0;margin-right:0;}
.col-sm-1 {padding-left:0;padding-right:0;}
.col-sm-2 {padding-left:0;padding-right:0;}
.col-sm-3 {padding-left:0;padding-right:0;}
.col-sm-4 {padding-left:0;padding-right:0;}
.col-sm-5 {padding-left:0;padding-right:0;}
.col-sm-6 {padding-left:0;padding-right:0;}
.col-sm-7 {padding-left:0;padding-right:0;}
.col-sm-8 {padding-left:0;padding-right:0;}
.col-sm-9 {padding-left:0;padding-right:0;}
.col-sm-10 {padding-left:0;padding-right:0;}
.col-sm-11 {padding-left:0;padding-right:0;}

#index-link div:hover {
	color:#999999;
	background-color:#333333;
}

.max-width-960px { max-width:960px;}

.align-center {margin-right: auto; margin-left: auto;}

.fix-width-100{ width:100%;}
.fix-width-90{ width:90%;}
.fix-width-80{ width:80%;}
.fix-width-70{ width:70%;}
.fix-width-60{ width:60%;}
.fix-width-50{ width:50%;}
.fix-width-40{ width:40%;}
.fix-width-30{ width:30%;}
.fix-width-20{ width:20%;}
.fix-width-10{ width:10%;}
.fix-width-5{ width:5%;}
.fix-width-3{ width:3%;}
.fix-width-1{ width:1%;}
.fix-width-h{ width:0.5%;}

.fix-height-30{ height:30em;}
.fix-height-25{ height:25em;}
.fix-height-20{ height:20em;}
.fix-height-10{ height:10em;}
.fix-height-9{ height:9em;}
.fix-height-8{ height:8em;}
.fix-height-7{ height:7em;}
.fix-height-6{ height:6em;}
.fix-height-5{ height:5em;}
.fix-height-4{ height:4em;}
.fix-height-3{ height:3em;}
.fix-height-2{ height:2em;}
.fix-height-1{ height:1em;}
.fix-height-h{ height:0.5em;}
.fix-height-hardcode{ height:34px;}

.inlined { display:inline-block;}
.absoluted { display:absolute;}

.color-bg-media1 { 
	background: url(../media/img/handsnotext.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
	width: 100%;
}

.color-bg-media2 { 
	background: url(../media/img/about-banner.png) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
	width: 100%;
}

/* helper class build for critical point adaption*/
.padding-lr-dnm20x3 {padding-left: 20em; padding-right: 20em;}
  /*@media {.padding-lr-dnm20x3 {padding-left: 3em; padding-right: 3em;}..}*/
.block-dmn-disappear {display: block;}
.block-dmn-appear {display: none;}
  /*@media {.block-dmn-disappear {display: none;}..}*/
.inline-dmn-disappear {display: inline;}
.inline-dmn-appear {display: none;}
  /*@media {.inline-dmn-disappear {display: none;}..}*/
.inline-block-dmn-disappear {display: inline-block;}
.inline-block-dmn-appear {display: none;}
  /*@media {.inline-block-dmn-disappear {display: none;}..}*/


#logo>span{
	display:none;
}

#menu{
	display: block;
}

/* critical point of col-sm-x size */
@media screen and (max-width: 800px) {
	.padding-lr-dnm20x3 {padding-left: 3em; padding-right: 3em;}
	.block-dmn-disappear {display: none;}
	.inline-dmn-disappear {display: none;}
	.inline-block-dmn-disappear {display: none;}
	.block-dmn-appear {display: block;}
	.inline-dmn-appear {display: inline;}
	.inline-block-dmn-appear {display: inline-block;}
	#menu{		display:none;	}
	#logo>span{		display:inline;	}
	#header-slogan h3{font-size:1.2em}
	#header-slogan h1{font-size:1.7em}
}







